#hammer-mask {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: black;
    opacity: 0.7;
    display: none;
}
#hammer-bg {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}
#hammer-box {
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}
#image-big {
    position: relative;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}
#hammer-page {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    font-size: 20px;
    color: white;
    line-height: 30px;
}
#hammer-page-ctrl {
    position: absolute;
    width: 100%;
    bottom: 0;
}
#hammer-page-ctrl > span {
    color: white;
    font-size: 30px;
    padding: 0 20px;
}