body {
    overflow: hidden;
    background-color: gray;
    min-width: 1280px;
}
.bg {
    display: none;
    width:100%;
    height:100%;
    background-color: gray;
    position: absolute;
    top:0;
    left:0;
    text-align:center;
}
#my-slider {
    height:80%;
}
.unslider {
    height:115%;
    top:7%;
    position: relative;
}
#slideUl {
    height:100%;
}
.content {
    width:100%;
    height:90%;
    border-radius:10px;
    margin-left: -40px;
}
h5 {
    margin:0px;
    margin-left:50px;
    font-size:38px;
    line-height:80px;
    color:white;
    text-align:left;
}
#manual {
    width:94%;
    height:30px;
    text-align:center;
    border-radius:5px;
    background-color:rgba(0,0,0,.3);
    border:none;
    color:white;
}
.unslider-arrow {
    padding:8px 11px;
    border-radius:50%;
    background: rgba(0,0,0,.3);
    color: white;
    transition: .5s;
    top:37%;
}
.unslider-arrow:hover {
    color:gray;
    background-color:lightgray;
}
ol {
    position: relative;
    margin-top: -6%;
    margin-left: -18px;
}
.detail {
    width:100%;
    height: 80%;
}
.par {
    padding: 20px;
    position: relative;
    color: white;
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
    width: 85%;
    height: 88%;
    line-height: 28px;
    text-align: left;
    margin: 0 auto;
    word-wrap: break-word;
}
.menu {
    padding: 10px;
    margin: 10px;
    background-color: rgba(0,0,0,.1);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}
.menu:hover {
    background-color: #4fb8d9;
}
#menus {
    position: absolute;
    right: 20px;
    padding: 10px;
    top: 10px;
}
.widget_content {
    width: 100%;
    height: 100%;
}
.funName {
    left: 15px;
    position: relative;
    top: 5px;
    font-size:14px;
    text-shadow:0px 0px 1px black;
}
.funIcon {
    width: 40px;
    height: 40px;
    position: relative;
    top: 30px;
    left: 160px;
}
.mSize {
    cursor: pointer;
    -webkit-transition: 2.7s;
    -moz-transition: 2.7s;
    -ms-transition: 2.7s;
    -o-transition: 2.7s;
    transition: 2.7s;
}
.mSize:hover {
    transform: scale(1.05);
}
.line {
    transition-duration:100ms;
    width: 100%;
    height: 1px;
    background-color: lightgray;
    opacity: 0.5;
}
.userHad {
    display: none;
    position: absolute;
    right: 70px;
    top: 30px;
    border:solid 1px lightgray;
}
.userInfo {
    display: none;
}
@media screen and (min-height: 900px) {
    .userInfo {
        line-height:50px;
        font-size: 20px;
    }
    .userHad {
        top: 45px;
        right: 90px;
        width: 140px;
        height: 140px;
    }
}
.footer {
    font-size:12px;
    position: relative;
    top: -20%;
    color:lightgray;
}
.infoAnimated {
    -webkit-animation-duration:0.4s !important;
    animation-duration:0.4s !important;
}
.hadAnimated {
    -webkit-animation-duration:1.4s !important;
    animation-duration:1.4s !important;
}