<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="core JS/angular.js"></script>
    <link href="CSS/index.css" type="text/css" rel="stylesheet">
    <title></title>
</head>
<body>
<div class="signDiv">

    <span class="title">登&nbsp;&nbsp;&nbsp;录</span>

    <form class="signForm" name="signup_form" novalidate
        ng-submit="signupForm()" ng-controller="signupController">

        <div class="row">
            <input type="text" placeholder="请输入您的姓名" name="name" required
                   ng-model="signup.name" ng-pattern="[a-z]" ng-minlength="3" ng-maxlength="20" />
            <!-- 验证提示框 -->
            <span class="errorSpan" ng-show="signup_form.name.$invalid && signup_form.name.$touched">
                <div class="error" ng-show="signup_form.name.$error.required">姓名为必填。</div>
                <div class="error" ng-show="signup_form.name.$error.minlength">姓名最少3个字符。</div>
                <div class="error" ng-show="signup_form.name.$error.maxlength">姓名最多20个字。</div>
            </span>
            <!-- 验证提示框END -->
        </div>

        <div class="row">
            <input type="email" placeholder="请输入邮箱地址" name="email" required
                   ng-model="signup.email" ng-minlength="3" ng-maxlength="20" ng-focus />
            <!-- 验证提示框 -->
            <span class="errorSpan" ng-show="signup_form.email.$invalid && signup_form.email.$touched">
                <div class="error" ng-show="signup_form.email.$error.required">邮件地址为必填。</div>
                <div class="error" ng-show="signup_form.email.$error.email">输入合法的邮件地址，例：example@hotmail.com</div>
            </span>
            <!-- 验证提示框END -->
        </div>

        <button type="submit" ng-class="{'disable':signup_form.$invalid}" >确 认</button>

    </form>

</div>
</body>
<script type="text/javascript" src="apps/app.js"></script>
</html>